<?xml version="1.0"?>
<launch>

  <arg name="quad_name" default="kolibri"/>
  <arg name="ref_traj_name" default="fig8"/>
  <arg name="controller_type" default="mpc"/>

  <node name="traj_tracking_rollout_node" pkg="datt_ros" type="traj_tracking_rollout.py" output="screen">
    <param name="quad_name" type="string" value="$(arg quad_name)"/>
    <param name="ref_traj_name" type="string" value="$(arg ref_traj_name)"/>
    <param name="controller_type" type="string" value="$(arg controller_type)"/>
  </node>

  <node name="traj_tracking_scheduler_node" pkg="datt_ros" type="traj_tracking_scheduler.py" output="screen">
    <param name="quad_name" type="string" value="$(arg quad_name)"/>
    <param name="ref_traj_name" type="string" value="$(arg ref_traj_name)"/>
  </node>

</launch>